@font-face {
    font-family: "Poppins-Regular";
    src: url(../font/Poppins-Regular.ttf);
}
h1,h2,h3,h4,h5,h6,p,a
{
    margin-bottom: 0 !important;
}
a,
a:hover {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
input:focus,
select:focus,
.form-control:focus,
button:focus,
.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-color: inherit;
}
img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body {
    background-color: #ffffff;
    font-size: 16px;
    font-family: "Poppins-Regular";
  }
header
{
    background-color: #091023;
    background-image: url(../img/bgred.png);
    background-repeat: no-repeat;
}

.mt-96
{
    margin-top: 96px;
}
.mt-32
{
    margin-top: 32px;
}
.nav-link
{
    color: #ffffff !important;
    margin-left: 48px;
}
.btn-login
{
    color: #ffffff;
    border: 1px solid #ffffff;
}
.btn-login:hover
{
    background-color: #CE1F37;
    border: 1px solid #CE1F37;
}

@media only screen and (max-width:426px)
{
    .navbar-nav
    {
        text-align: center;
    }
}


/* Hero */
.hero
{
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 130px 0;
    background-color: #f2f2f2;
}
.main-heading{
    font-size: 55px;
    font-weight: 600;
    color: #091023;
}
.body-text{
    color: #383D4C;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
}
.text-center{
    font-size: 38px;
    font-weight: 600;
    color: #091023;
}

.property-title{
    font-size: 22px;
    font-weight: 600;
    color: #091023;
}
.property-info{
    font-size: 16px;
    font-weight: 500;
    color: #3A404F;
    margin-top: 6px;
}
.facility
{
    margin-top: 16px;
    font-weight: 600;
}
.facility .item
{
    margin-left: 17px;
}
.facility b,.facility p
{
    margin-left: 4px;
}
.property-contact{
    margin-top: 16px;
    font-weight: 500;
}
.property-contact .item,.property-contact .item p
{
    margin-left: 8px;
    font-size: 12px;
    
}
.property-contact .item,.whatsapp
{
    border: 1px solid #e1e1e1;
    padding: 6px 10px;
    border-radius: 4px;
}
/* work */
.work {
    margin: 96px 172px;
}
.work .heading{
    margin-left: 48px;
    color: #091023;
    font-size: 38px;
    font-family: "Poppins-Semi-bold";
}
.work .sub-heading{
    font-size: 24px;
    margin-left: 48px;
    margin-top: 20px;
    font-family: "Poppins-Semi-bold";
    color: #091023;
}
.work .sub-heading span{
    padding: 7px 7px;
    color: #ffffff;
    border-radius: 50%;
    background-color: #CE1F37;
    margin-right:5px;
    font-size: 14px;
}
.work .body-text{
    font-size: 12px;
    margin-top: 8px;
    margin-left: 80px;
    color: #354264;
}
/* feature */
.feature-choose h2{
    font-weight: 600;
    margin-top: 96px;
    font-size: 38px;
    color: #091023;
}
.feature-choose .body-text{
    margin: 24px 222px;
    font-size: 16px;
    color: #354264;
}
.feature-choose .container .f-baner{
    display: flex;
    margin: 24px;
}
.feature-choose .baner img{
    width: 35px;
    height: 35px;
}

.feature-choose .f-baner .baner{
    width: 350px;
    height: 150px;
    padding: 16px 57px;
   
} 
.feature-choose .f-baner .baner h3{
    font-size: 22px;
    color: #091023;
}
.feature-choose .f-baner .baner p{
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 300;
}
/* frequently */
.frequently  h2{
    font-weight: 600;
    margin-top: 96px;
    font-size: 38px;
    color: #091023;
}
.frequently .body-text{
    margin-top: 24px ;
    font-size: 16px;
    color: #354264;
}
.frequently .accordion{
    margin-top: 24px;
}
/* register */
.register {
    display: flex;
    margin: 96px;
}
.register h2{
    font-size: 38px;
    color: #091023;
    font-weight: 600;
}
.register p{
    margin-top: 16px;
    font-size: 16px;
    color: #354264;
    font-weight: 300;
   
}
.register .form-input {
    margin: 0px 90px;
}
.register .form-input input{
    border: none;
    margin-top: 14px;
}
.register button{
    padding: 5px 25px;
    margin-right: 150px;
    color: #ffffff;
    background-color: #CE1F37;
    border: none;
}
/* footer */
.footer {
    display: flex;
    background-color: #091023;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 105px 90px;
    
}

.footer img{
    width: 30px;
    height: 30px;

}
 .footer .props{
    display: flex;
    color: #ffffff;
}
.footer .props h2{
    font-size: 30px;
    font-family: "Poppins-Semi-bold";
}
.footer a{
    font-size: 14px;  
    color: #ffffff;
    margin: 2px;
}
.footer .text-end img{ 
    padding: 5px 5px;
}
.footer p{
    color: #ffffff;
    font-size: 10px;
    margin-top: 44px;
}  